<nav class="wiki-navbar">
    <div class="wiki-logo">
        <i class="fas fa-dungeon"></i>
        <span class="neon-text">KJS的避难所</span>
    </div>
    <div class="nav-links">
        <a href="/index.html"><i class="fas fa-home"></i> 首页</a>
        <a href="/articles/about.html"><i class="fas fa-user-astronaut"></i> 关于</a>
        <a href="/articles/game.html"><i class="fa-brands fa-steam"></i> 游戏</a>
        <a href="/articles/anime.html"><i class="fa-brands fa-bilibili"></i> 番剧</a>
        <a href="/articles/projects.html"><i class="fas fa-code"></i> 项目</a>
        <a href="/articles/tech.html"><i class="fas fa-book"></i> 技术</a>
    </div>
</nav>